<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="min-width: 100%;margin: 0;padding: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #dbe5ea;width: 100% !important;">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!--[if !mso]><!-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<![endif]-->
	<title>Podio</title>
	<style type="text/css">/* Reset */
table, td, div {
  box-sizing: border-box; }

html,
body {
  width: 100% !important;
  min-width: 100%;
  Margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.email_body td, .email_body div, .email_body a, .email_body span {
  line-height: inherit; }

a,
a:visited,
a span {
  text-decoration: none; }

#outlook a {
  padding: 0; }

img {
  outline: none;
  border: 0;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  clear: both;
  line-height: 100%; }

table {
  border-spacing: 0;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt; }

td {
  vertical-align: top; }

/* Grid */
.email_table,
.content_section,
.column,
.column_cell {
  width: 100%;
  min-width: 100%; }

.email_body {
  font-size: 0 !important;
  line-height: 100%;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px; }

.email_start {
  padding-top: 32px; }

.email_end {
  padding-bottom: 32px; }

.email_body,
html,
body {
  background-color: #dbe5ea; }

.email_container,
.email_row,
.col_0,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_2_lg {
  font-size: 0;
  display: inline-block;
  width: 100%;
  min-width: 100%;
  min-width: 0 !important;
  vertical-align: top; }

.content_cell {
  width: 100%;
  min-width: 100%;
  min-width: 0 !important; }

.column_cell {
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: top; }

.email_container {
  max-width: 632px;
  Margin: 0 auto;
  text-align: center; }

.email_row {
  display: block;
  max-width: 600px !important;
  Margin: 0 auto;
  text-align: center;
  clear: both; }

.col_0 {
  max-width: 50px; }

.col_1 {
  max-width: 100px; }

.col_2 {
  max-width: 200px; }

.col_3 {
  max-width: 300px; }

.col_4 {
  max-width: 400px; }

.col_5 {
  max-width: 500px; }

.col_6 {
  max-width: 600px; }

.col_2_lg {
  max-width: 400px; }

.col_center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.email_body a,
.email_body a span {
  text-decoration: none;
  color: #5091bd; }

.email_body a.td,
.email_body a.td span {
  color: #616161; }

.column_cell,
.column_cell td,
.xlabel_c,
p {
  font-family: Helvetica, Arial, sans-serif; }

.email_body .column_cell,
.column_cell,
.min_table td,
.xlabel_c,
p {
  font-size: 16px;
  line-height: 23px;
  color: #616161;
  mso-line-height-rule: exactly; }

p {
  display: block;
  Margin-top: 0;
  Margin-bottom: 16px; }
  p small {
    font-size: 14px; }
  p.lead {
    font-size: 19px;
    line-height: 27px;
    color: #a7b1b6; }

.small {
  font-size: 14px;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #3e484d;
  Margin-left: 0;
  Margin-right: 0;
  Margin-top: 20px;
  Margin-bottom: 8px;
  padding: 0;
  font-weight: bold; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a span, h2 a span, h3 a span, h4 a span, h5 a span, h6 a span {
  color: #3e484d; }

h1 {
  font-size: 32px;
  line-height: 42px; }

h2 {
  font-size: 26px;
  line-height: 36px; }

h3 {
  font-size: 23px;
  line-height: 30px; }

h4 {
  font-size: 19px;
  line-height: 25px; }

h5 {
  font-size: 16px;
  line-height: 21px; }

h6 {
  font-size: 13px;
  line-height: 20px; }

.footer_c .column_cell,
.footer_c p {
  color: #a7b1b6; }

.footer_c a,
.footer_c a span {
  color: #a7b1b6;
  text-decoration: underline; }

.content_cell,
.bank_cell {
  width: 100%;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  padding-left: 16px;
  padding-right: 16px; }

.content_cell {
  background-color: #ffffff; }

.hdr_menu {
  text-align: right; }
  .hdr_menu p {
    line-height: 100%; }

.email_body .logo_c {
  line-height: 100%; }

.logo_c img {
  max-width: 168px;
  height: auto !important; }

.email_body .fsocial {
  line-height: 100%;
  color: #a7b1b6; }

.fsocial img {
  max-width: 24px;
  height: auto !important; }

.ncard_c {
  color: #616161;
  overflow: hidden; }

.content_cell .sc,
.sc td,
.sc {
  color: #ffffff; }

.sc h1,
.sc h2,
.sc h3,
.sc h4,
.sc h5,
.sc h6,
.sc p,
.sc a,
.sc a span {
  color: #ffffff; }

.hr_rl,
.hr_ep {
  font-size: 0;
  line-height: 1px;
  mso-line-height-rule: exactly;
  min-height: 1px;
  overflow: hidden;
  height: 2px;
  background-color: transparent !important; }

.default_b {
  background-color: #475359; }

.active_b {
  background-color: #5091bd; }

.success_b {
  background-color: #32d373; }

.danger_b {
  background-color: #d04e53; }

.warning_b {
  background-color: #eca552; }

.light_b {
  background-color: #f1f6f9; }

.imgr {
  clear: both;
  font-size: 0;
  line-height: 100%; }
  .imgr a,
  .imgr a span {
    line-height: 1; }

.imgr img {
  width: 100% !important;
  max-width: 568px;
  height: auto !important; }

.imgr24 img {
  max-width: 24px; }

.imgr44 img {
  max-width: 44px; }

.imgr68 img {
  max-width: 68px; }

.imgr96 img {
  max-width: 96px; }

.imgr168 img {
  max-width: 168px; }

.imgr268 img {
  max-width: 268px; }

.imgr632 img {
  max-width: 800px; }

.ebtn,
.ebtn_xs,
.ic_h {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.ebtn td,
.ebtn_xs td {
  line-height: 20px;
  mso-line-height-rule: exactly;
  border-radius: 4px;
  text-align: center;
  font-weight: bold; }
  .ebtn td a,
  .ebtn td a span,
  .ebtn_xs td a,
  .ebtn_xs td a span {
    color: #ffffff; }

.ebtn td {
  font-size: 17px;
  padding: 13px 22px; }

.ebtn_xs td {
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 16px; }

.ic_h {
  width: 64px; }
  .ic_h img {
    max-width: 32px;
    width: 32px;
    height: 32px;
    display: block;
    line-height: 100%; }
  .ic_h a {
    line-height: 100%; }
  .ic_h td {
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    mso-line-height-rule: exactly;
    padding: 16px;
    border-radius: 80px; }

.email_summary {
  display: none;
  font-size: 1px;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

p.small {
  display: block; }

.brt {
  border-radius: 4px 4px 0 0; }

.brb {
  border-radius: 0 0 4px 4px; }

.bra {
  border-radius: 4px; }

.braf {
  border-radius: 200px; }

.brl {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.brr {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.ncard_c {
  border-radius: 4px; }

.tp,
table .tp {
  color: #5091bd; }

.ts,
table .ts {
  color: #32d373; }

.tde,
table .tde {
  color: #d04e53; }

.tm,
table .tm,
a.tm,
a.tm span {
  color: #a7b1b6; }

.td,
table .td {
  color: #616161; }

.tc {
  text-align: center; }

.tc .imgr img {
  margin-left: auto;
  margin-right: auto; }

.tl {
  text-align: left; }

table.tl {
  margin-left: 0;
  margin-right: auto; }

.tr {
  text-align: right; }

table.tr {
  margin-left: auto;
  margin-right: 0; }

.nw,
table .nw {
  white-space: nowrap; }

.py {
  padding-top: 16px;
  padding-bottom: 16px; }

.px {
  padding-left: 16px;
  padding-right: 16px; }

.pt {
  padding-top: 16px; }

.pt_0 {
  padding-top: 0; }

.pt_xs {
  padding-top: 8px; }

.pte {
  padding-top: 32px; }

.pt_card {
  padding-top: 96px; }

.pb {
  padding-bottom: 16px; }

.pb_0 {
  padding-bottom: 0; }

.pb_xs {
  padding-bottom: 8px; }

.pbe {
  padding-bottom: 32px; }

.xlabel .pl_0,
.pl_0 {
  padding-left: 0; }

.pl {
  padding-left: 16px; }

.ple {
  padding-left: 32px; }

.xlabel .pr_0,
.pr_0 {
  padding-right: 0; }

.pr {
  padding-right: 16px; }

.pre {
  padding-right: 32px; }

.pte_lg {
  padding-top: 64px; }

.mt_0 {
  margin-top: 0; }

.mt_xs {
  margin-top: 8px; }

.mt {
  margin-top: 16px; }

.mte {
  margin-top: 32px; }

.mb_0 {
  margin-bottom: 0; }

.mb_xs {
  margin-bottom: 8px; }

.mb_xxs {
  margin-bottom: 4px; }

.mb {
  margin-bottom: 16px; }

.mbe {
  margin-bottom: 32px; }

.bt {
  border-top: 1px solid #d7dbe0; }

.bb {
  border-bottom: 1px solid #d7dbe0; }

.btw,
.bt.btw,
.bbw.btw {
  border-color: #ffffff; }

.clear {
  content: ' ';
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0; }

@media only screen {
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
  .column_cell,
  .column_cell td,
  .xlabel_c,
  p {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400; }
  strong, b, h1, h2, h3, h4, h5 {
    font-weight: 700; }
  a {
    display: inline-block; }
  .ebtn td,
  .ebtn_xs td {
    padding: 0 !important;
    -webkit-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    -ms-transition: box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s; }
  .ebtn a,
  .ebtn a span,
  .ebtn_xs a,
  .ebtn_xs a span {
    display: block !important;
    text-align: center !important;
    vertical-align: top !important;
    line-height: inherit !important; }
  .ebtn a {
    padding: 10px 22px !important;
    line-height: 26px !important;
    font-weight: 700 !important; }
  .ebtn_xs a {
    padding: 5px 16px !important;
    line-height: 26px !important;
    font-weight: 400 !important; } }

@media (max-width: 697px) {
  .email_body.email_start {
    padding-top: 16px !important; }
  .email_body.email_end {
    padding-bottom: 16px !important; }
  .email_holder,
  .email_container,
  .col_1,
  .col_2,
  .col_3,
  .col_4,
  .col_5,
  .col_6,
  .col_2_lg {
    width: 100% !important;
    max-width: none !important; }
  .hdr_menu {
    text-align: left !important;
    padding-top: 12px !important; }
  .hdr_menu .ebtn,
  .hdr_menu .ebtn_xs {
    margin-right: auto !important;
    margin-left: 0 !important; }
  .pte_lg,
  .py.pte_lg {
    padding-top: 32px !important; }
  .pte_xs,
  .py.pte_xs {
    padding-top: 8px !important; }
  .pbe_xs,
  .py.pbe_xs {
    padding-bottom: 8px !important; }
  .ord_cell,
  .invoice_qty,
  .invoice_price {
    text-align: left !important; }
  .ord_cell {
    padding-top: 8px !important; }
  .hide {
    max-height: 0 !important;
    display: none !important;
    mso-hide: all !important;
    overflow: hidden !important;
    font-size: 0 !important; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    min-height: 1024px !important; } }
</style>

</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="min-width: 100%;margin: 0;padding: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #dbe5ea;width: 100% !important;">
	<!-- header_accent_button -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body email_start tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;padding-top: 32px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell active_b header_c brt pt pb" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #5091bd;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;border-radius: 4px 4px 0 0;padding-top: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;">
										<!-- col-2-4 -->
										<div class="email_row" style="box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;">
										<!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="200" style="width:200px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
											<div class="col_2" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 200px;line-height: inherit;min-width: 0 !important;">
												<table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
													<tbody>
														<tr>
															<td class="column_cell px pt_xs pb_0 logo_c tl sc" style="box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 8px;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 100%;color: #ffffff;mso-line-height-rule: exactly;text-align: left;padding-left: 16px;padding-right: 16px;"><a href="#" style="text-decoration: none;line-height: inherit;color: #ffffff;"><img src="images/logo-white.png" width="30" height="30" alt="simeplapp" style="outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 168px;height: auto !important;"></a></td>
														</tr>
													</tbody>
												</table>
											</div>
									  <!--[if (mso)|(IE)]></td><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
											<div class="col_4" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;">
												<table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
													<tbody>
														
													</tbody>
												</table>
											</div>
										<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
	<!-- jumbotron_light_icon -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
	 <tbody>
		 <tr>
			 <td class="email_body tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #dbe5ea;font-size: 0 !important;">
				 <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
				 <div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
					 <table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
						 <tbody>
							 <tr>
								 <td class="content_cell light_b" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #f1f6f9;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;">
									 <!-- col-6 -->
									 <div class="email_row" style="box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;">
									 <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
										 <div class="col_6" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 600px;line-height: inherit;min-width: 0 !important;">
											 <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
												 <tbody>
													 <tr>
														 <td class="column_cell px pte tc" style="box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 32px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;">
															 <table class="ic_h" align="center" width="64" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;display: table;margin-left: auto;margin-right: auto;width: 64px;">
																 <tbody>
																	 <tr>
																		 <td class="default_b" style="box-sizing: border-box;vertical-align: middle;background-color: #475359;line-height: 100%;font-family: Helvetica, Arial, sans-serif;text-align: center;mso-line-height-rule: exactly;padding: 16px;border-radius: 80px;">
																			 <p class="imgr mb_0" style="font-family: Helvetica, Arial, sans-serif;font-size: 0;line-height: 100%;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;clear: both;"><img src="images/unlocked.png" width="32" height="32" alt="" style="outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 32px;width: 100% !important;height: auto !important;display: block;margin-left: auto;margin-right: auto;"></p>
																		 </td>
																	 </tr>
																 </tbody>
															 </table>
															 <h1 class="mb_xxs" style="color: #3e484d;margin-left: 0;margin-right: 0;margin-top: 20px;margin-bottom: 4px;padding: 0;font-weight: bold;font-size: 32px;line-height: 42px;">Forgot your password?</h1>
															 <p class="lead" style="font-family: Helvetica, Arial, sans-serif;font-size: 19px;line-height: 27px;color: #a7b1b6;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
														 </td>
													 </tr>
												 </tbody>
											 </table>
										 </div>
									 <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
									 </div>
								 </td>
							 </tr>
						 </tbody>
					 </table>
				 </div>
				 <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
			 </td>
		 </tr>
	 </tbody>
	</table>
	<!-- spacer-lg -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;">
										<table class="hr_rl" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;">
											<tbody>
												<tr>
													<td class="hr_ep pte" style="box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-top: 32px;background-color: transparent !important;">&nbsp; </td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
	
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;">
										<!-- col_3 -->
										<div class="email_row" style="box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;">
											<!--[if (mso)|(IE)]><table width="300" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:300px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
												<div class="col_3 col_center" style="box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;max-width: 300px;margin-left: auto;margin-right: auto;line-height: inherit;min-width: 0 !important;">
													<table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
														<tbody>
															<tr>
																<td class="column_cell px tc" style="box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;">
																	
																	<table class="ncard" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
																		<tbody>
																			<tr>
																				<td class="ncard_c light_b tc px py" style="box-sizing: border-box;vertical-align: top;color: #616161;overflow: hidden;border-radius: 4px;background-color: #f1f6f9;text-align: center;padding-top: 16px;padding-bottom: 16px;padding-left: 16px;padding-right: 16px;line-height: inherit;font-family: Helvetica, Arial, sans-serif;">
																					<h1 class="mt_0 mb_0" style="color: #3e484d;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 0;padding: 0;font-weight: bold;font-size: 32px;line-height: 42px;"><%= otp%></h1>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
	
	<!-- button_accent -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell tc" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;">
										<table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
											<tbody>
												<tr>
													<td class="column_cell px pt_0 pb_xs tc" style="box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 0;padding-bottom: 8px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;">
														<table class="ebtn" align="center" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;display: table;margin-left: auto;margin-right: auto;">
															<tbody>
																<tr>
																	<td class="active_b" style="box-sizing: border-box;vertical-align: top;background-color: #5091bd;line-height: 20px;font-family: Helvetica, Arial, sans-serif;mso-line-height-rule: exactly;border-radius: 4px;text-align: center;font-weight: bold;font-size: 17px;padding: 13px 22px;"><a href="#" style="text-decoration: none;line-height: inherit;color: #ffffff;"><span style="text-decoration: none;line-height: inherit;color: #ffffff;">Reset password</span></a></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
	<!-- spacer-lg -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;">
										<table class="hr_rl" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;">
											<tbody>
												<tr>
													<td class="hr_ep pte" style="box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-top: 32px;background-color: transparent !important;">&nbsp; </td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
	<!-- content_center -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;">
										<!-- col-6 -->
										<div class="email_row tl" style="box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: left;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;">
										<!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
											<div class="col_6" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 600px;line-height: inherit;min-width: 0 !important;">
												<table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
													<tbody>
														<tr>
															<td class="column_cell px tc" style="box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 16px;padding-bottom: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;text-align: center;padding-left: 16px;padding-right: 16px;">
																<p style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #616161;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
	<!-- spacer -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #ffffff;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;line-height: inherit;min-width: 0 !important;">
										<table class="hr_rl" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size: 0;line-height: 1px;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;background-color: transparent !important;">
											<tbody>
												<tr>
													<td class="hr_ep pt" style="box-sizing: border-box;vertical-align: top;font-size: 0;line-height: inherit;mso-line-height-rule: exactly;min-height: 1px;overflow: hidden;height: 2px;padding-top: 16px;background-color: transparent !important;">&nbsp; </td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
	<!-- footer_default -->
	<table class="email_table" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
		<tbody>
			<tr>
				<td class="email_body email_end tc" style="box-sizing: border-box;vertical-align: top;line-height: 100%;text-align: center;padding-left: 16px;padding-right: 16px;padding-bottom: 32px;background-color: #dbe5ea;font-size: 0 !important;">
					<!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
					<div class="email_container" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 632px;margin: 0 auto;text-align: center;line-height: inherit;min-width: 0 !important;">
						<table class="content_section" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
							<tbody>
								<tr>
									<td class="content_cell footer_c default_b brb pt pb" style="box-sizing: border-box;vertical-align: top;width: 100%;background-color: #5091bd;font-size: 0;text-align: center;padding-left: 16px;padding-right: 16px;border-radius: 0 0 4px 4px;padding-top: 16px;padding-bottom: 16px;line-height: inherit;min-width: 0 !important;">
										<!-- col-2-4 -->
										<div class="email_row" style="box-sizing: border-box;font-size: 0;display: block;width: 100%;vertical-align: top;margin: 0 auto;text-align: center;clear: both;line-height: inherit;min-width: 0 !important;max-width: 600px !important;">
										<!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
											<div class="col_4" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 400px;line-height: inherit;min-width: 0 !important;">
												<table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
													<tbody>
														<tr>
															<td class="column_cell px pt_xs pb_0 tl sc" style="box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 8px;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #ffffff;mso-line-height-rule: exactly;text-align: left;padding-left: 16px;padding-right: 16px;">
																<p class="mb_xxs" style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #ffffff;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 4px;">
																	©2018 Podio<br>
																	<small style="font-size: 14px;">120 S West St, Raleigh, NC 27603, United States</small>
																</p>
																<p class="small mb_0" style="font-family: Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #ffffff;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"><a href="#" style="text-decoration: underline;line-height: inherit;color: #ffffff;"><span style="text-decoration: underline;line-height: inherit;color: #ffffff;">Products</span></a> <span style="line-height: inherit;">&nbsp; • &nbsp;</span> <a href="#" style="text-decoration: underline;line-height: inherit;color: #ffffff;"><span style="text-decoration: underline;line-height: inherit;color: #ffffff;">Blog</span></a> <span style="line-height: inherit;">&nbsp; • &nbsp;</span> <a href="#" style="text-decoration: underline;line-height: inherit;color: #ffffff;"><span style="text-decoration: underline;line-height: inherit;color: #ffffff;">Unsubscribe</span></a></p>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										<!--[if (mso)|(IE)]></td><td width="200" style="width:200px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
											<div class="col_2" style="box-sizing: border-box;font-size: 0;display: inline-block;width: 100%;vertical-align: top;max-width: 200px;line-height: inherit;min-width: 0 !important;">
												<table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="box-sizing: border-box;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;min-width: 100%;">
													<tbody>
														<tr>
															<td class="column_cell px pt_xs pb_0 ord_cell tr sc" style="box-sizing: border-box;vertical-align: top;width: 100%;min-width: 100%;padding-top: 8px;padding-bottom: 0;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 23px;color: #ffffff;mso-line-height-rule: exactly;text-align: right;padding-left: 16px;padding-right: 16px;">
																<p class="fsocial mb_0" style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 100%;color: #a7b1b6;mso-line-height-rule: exactly;display: block;margin-top: 0;margin-bottom: 0;"><a href="#" style="text-decoration: underline;line-height: inherit;color: #ffffff;"><img src="images/social-facebook_white.png" width="24" height="24" alt="" style="outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 24px;height: auto !important;"></a> &nbsp;&nbsp; <a href="#" style="text-decoration: underline;line-height: inherit;color: #ffffff;"><img src="images/social-twitter_white.png" width="24" height="24" alt="" style="outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 24px;height: auto !important;"></a> &nbsp;&nbsp; <a href="#" style="text-decoration: underline;line-height: inherit;color: #ffffff;"><img src="images/social-instagram_white.png" width="24" height="24" alt="" style="outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;line-height: 100%;max-width: 24px;height: auto !important;"></a></p>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
									</div></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
